video {
    position: relative;
    float: left;
    margin-left: -8px;
    margin-top: -8px;
    width: 100vw;
    height: auto;
    -webkit-mask-box-image: url(waves.svg)
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.navbar {
    z-index: 10;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 60px;
}

.logo {
    width: 240px;
    position: absolute;
    top: 40px;
    left: 40px;
}

.bar-item {
    font-family: azo-sans-web, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    font-style: normal;
    letter-spacing: 0px;
    opacity: 1;
    color: white;
    position: relative;
    float: right;
    margin-right: 40px;
    margin-top: 46px;
}

.content {
    margin-left: calc(50%);
    transform: translate(-50%);
    width: 1132px;
    height: auto;
    float: left;
    position: relative;
    margin-top: 75px;
}

.hero-text {
    position: absolute;
    margin-top: 150px;
    left: calc(50% - 566px)
}

.title {
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    line-height: 76px;
}

.body-text {
    text-align: left;
    font-family: azo-sans-web, sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    font-style: normal;
    letter-spacing: 0px;
    opacity: 1;
    margin-top: -50px
}

.know-more-button {
    width: 218px;
    height: 55px;
    border: 1px solid white;
    border-radius: 10px;
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    color: white;
}

.header {
    width: 100%;
}

.title-header {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    line-height: 44px;
}

.item {
    margin-top: 75px;
    margin-bottom: 75px;
    width: 100%;
    height: auto;
    display: inline-block;
    list-style: none;
}

.text {
    width: 32%;
    float: left;
    margin-top: 5%;
}

.item-title {
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 38px;
}

.miniature {
    margin-bottom: -20px;
    height: 110px;
}

.image {
    float: right;
    width: 57%;
}

.item-description {
    text-align: left;
    font-family: azo-sans-web, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    letter-spacing: 0px;
    opacity: 1;
    margin-top: -20px
}

.engine-logo {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
    height: 30px;
}

.waves-bottom {
    width: 100vw;
    position: relative;
    margin-bottom: -8px;
    margin-left: -8px;
}

.more-info {
    position: relative;
    margin-top: 75px;
    height: auto;
}

.divider {
    width: 100%;
    border: 0.5px solid black;
    margin-bottom: 150px;
}

.get-to-know {
    margin: auto;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    line-height: 50px;
}

.subscribe {
    margin: auto;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
    font-family: azo-sans-web, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 30px;
    line-height: 70px;
}

.subscribe-button {
    margin-top: 30px;
    margin-left: calc(50% - 109px);
    width: 218px;
    height: 55px;
    background-color: black;
    border-radius: 10px;
    font-family: azo-sans-web, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    color: white;
}

.footer {
    background-size: cover;
    background-image: url("images/waves-bottom.png");
    z-index: 1;
    margin-top: 150px;
    margin-left: -8px;
    float: left;
    width: 100vw;
    height: 400px;
    position: relative;
}

.footer-container {
    width: 1132px;
    margin-left: 50%;
    transform: translate(-50%);
}

.footer-text {
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    top: 120px;
    width: 400px;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
    font-family: azo-sans-web, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: white;
}

.real2u {
    width: 172px;
    position: absolute;
    left: 50%;
    margin-left: -86px;
    top: 200px;
    font-family: azo-sans-web, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    line-height: 32px;
    color: white;
}

.real2u-logo {
    margin-left: 1px;
    position: absolute;
    height: 32px;
}

.copyright {
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    top: 300px;
    width: 400px;
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
    font-family: azo-sans-web, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    line-height: 12px;
    color: white;
}

@media (min-width: 300px) and (max-width: 1200px) {
    .content {
        width: 90vw;
        margin-top: 50px;
        margin-left: 5vw;
        transform: translate(0%);
    }
    .hero-text {
        width: 100%;
        margin-top: 75px;
        left: 0
    }
    .title {
        text-align: center;
        font-size: 50px;
        line-height: 50px;
    }
    .body-text {
        text-align: center;
        font-size: 24px;
        line-height: 27px;
        margin-top: -30px
    }
    .know-more-button {
        transform: translate(-50%);
        margin-left: 50%;
        font-size: 22px;
    }
    .title-header {
        font-size: 40px;
        line-height: 44px;
    }
    .item {
        margin-top: 50px;
        width: 100%;
        height: auto;
        display: inline-block;
        list-style: none;
    }
    .text {
        width: 80%;
        float: left;
        margin-left: 10%;
        margin-top: 0%;
    }
    .item-title {
        text-align: center;
        font-family: azo-sans-web, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 36px;
        line-height: 36px;
    }
    .miniature {
        margin-left: 50%;
        transform: translate(-50%);
        margin-bottom: -20px;
        height: 110px;
    }
    .image {
        margin-top: 20px;
        float: none;
        width: 100%;
        margin-left: 0%;
        margin-bottom: 0px;
    }
    .item-description {
        text-align: center;
        font-family: azo-sans-web, sans-serif;
        font-weight: 300;
        font-size: 20px;
        line-height: 22px;
        font-style: normal;
        letter-spacing: 0px;
        opacity: 1;
        margin-top: 0px
    }
    .engine-logos-container {
        width: fit-content;
        margin-left: 50%;
        transform: translate(-50%, 0);
    }
    .engine-logo {
        margin-top: 10px;
        margin-bottom: 10px;
        float: left;
        margin-left: 5px;
        margin-right: 5px;
        width: auto;
        height: 50px;
    }
    .more-info {
        position: relative;
        margin-top: 30px;
        height: auto;
    }
    .divider {
        margin-bottom: 100px;
    }
    .get-to-know {
        margin: auto;
        text-align: center;
        font-size: 50px;
        line-height: 50px;
    }
    .subscribe {
        margin: auto;
        text-align: center;
        font-size: 20px;
    }
    .subscribe-button {
        margin-top: 30px;
        margin-left: calc(50% - 109px);
    }
    .footer {
        margin-top: 100px;
        width: 100vw;
    }
    .footer-container {
        width: 80vw;
    }
    .bar-item {
        font-size: 24px;
    }
    .footer-text {
        width: 100vw;
        font-size: 24px;
        line-height: 26px;
    }
    .real2u {
        width: 215px;
        margin-left: -107.5px;
        font-size: 24px;
        line-height: 26px;
    }
    .copyright {
        width: 100vw;
        font-size: 20px;
        line-height: 20px;
    }
}